body {
    font-family: "맑은 고딕", 돋움, 굴림;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --primary: rgb(100, 100, 200);
  --secondary: rgb(255, 255, 255);
  --third: rgb(55, 55, 100);
}
.header {
  height: 90px;
  position: relative;
  background-color: var(--primary);
  padding: 10px 20px 0 20px;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
.header .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header .logo a {
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary);
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.header .nav ul li {/*상단 고정메뉴 세팅*/
  font-size: 20px;
  color: var(--secondary);
  font-weight: bold;
  display: inline-block;
  margin-right: 80px;
  position: relative;
}
.header ul li:last-child {
  margin-right: 0;
}
.header .nav ul li > ul {
  display: none;
  position: absolute;
  width: 120px;
  background-color: var(--third);
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.header .nav ul li:last-child > ul {
  right: 0;
  left: auto;
  transform: translateX(0);
}
.header .nav ul li:hover > ul {
  display: block;
}
.header .nav ul li > ul li {
  margin-right: 0;
  display: block;
}
.header .nav ul li ul li a {
  color: var(--secondary);
  font-size: 15px;
  font-style: normal;
  padding: 10px;
  display: block;
  text-align: center;
  transition: all;
  transition-duration: 0.3s;
}
.header .nav ul li > ul li a:hover {
  color: var(--primary);
}
.header .nav ul li > ul li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary);
  transition: all 0.1s;
}
.header .nav ul li > ul li a:hover::after {
  width: 100%;
}
.header .nav ul li > ul li:last-child a:hover::after {
  display: none;
}
body {
  background: #ccc;
}
.btnToggle {
    position: absolute;
    right: 20px;
    top: 30px;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    color: var(--secondary);
}
.me {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
}
b {
    color: red;
}
.me p {
    text-indent: 5px;
}
@media (max-width: 645px) {
    .header .nav {
        display: none;
    }
}
@media (max-width: 550px) {
    .me {
        width: 400px;
    }
}